<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Description:</b>
  <%= @article.description %>
</p>
 <% @article.comments.each do |comment| %>
		<%= comment.name%><br>
		<%= comment.commentonarticle %><hr>
    <%end%>
<%if current_user.id == @article.user_id%>
   
 <%= link_to 'Edit', edit_article_path(@article) %> 
	
<%end%>
Comment: <%= link_to "comment", :controller => :comments, :action => :new, :id => @article.id  %>

<%= link_to 'Back', articles_path %>
